<div class="container">
  <h1>Journals</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th width="55%">Affirmation</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @journals.each do |journal| %>
        <tr>
          <td><% date = journal.created_at %>
              <%= date.strftime("%a %v") %>
          </td>
          <td><% str = journal.content7 %>
            <%= str.first(50) %>
          </td>
          <% if journal.user == current_user %>
            <td><%= link_to 'Show', journal, class: "btn btn-primary" %>
            <%= link_to 'Edit', edit_journal_path(journal), class: "btn btn-warning" %>
            <%= link_to 'Delete', journal, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <% if user_signed_in? %>
    <%= link_to 'New Journal Entry', new_journal_path, class: "btn btn-warning" %>
  <% end %>
</div>