<div class="container">
  <p>
    <strong>User:</strong>
    <%= @journal.user %>
  </p>

  <p>
    <strong>Content1:</strong>
    <%= @journal.content1 %>
  </p>

  <p>
    <strong>Content2:</strong>
    <%= @journal.content2 %>
  </p>

  <p>
    <strong>Content3:</strong>
    <%= @journal.content3 %>
  </p>

  <p>
    <strong>Content4:</strong>
    <%= @journal.content4 %>
  </p>

  <p>
    <strong>Content5:</strong>
    <%= @journal.content5 %>
  </p>

  <p>
    <strong>Content6:</strong>
    <%= @journal.content6 %>
  </p>

  <p>
    <strong>Content7:</strong>
    <%= @journal.content7 %>
  </p>
  <% if @journal.user == current_user %>
    <%= link_to 'Edit', edit_journal_path(@journal) %> |
  <% end %>
  <%= link_to 'Back', journals_path %>
</div>