<br/>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
      <img class="card-img-top" src="<%= image_path("card#{rand(1..10)}.jpg") %>" alt="Card image cap" width="100%">
        <div class="card-block text-xs-center">
          <div class="card-title">
            <h3>I am grateful for ...</h3>
          </div>
          <div class="card-text text-xs-left">
            <br/>
            <p>
            <strong>1:</strong>
            <%= @journal.content1 %>
            </p>

            <p>
            <strong>2:</strong>
            <%= @journal.content2 %>
            </p>

            <p>
            <strong>3:</strong>
            <%= @journal.content3 %>
            </p>
            <% if @journal.user == current_user %>
    <%= link_to 'Edit', edit_journal_path(@journal), class: "btn btn-warning" %> 
    <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
      <img class="card-img-top" src="<%= image_path("card#{rand(1..10)}.jpg") %>" alt="Card image cap" width="100%">
        <div class="card-block text-xs-center">
          <div class="card-title">
            <h3>What would make today great?</h3>
          </div>
          <div class="card-text text-xs-left">
            <br/>
            <p>
            <strong>1:</strong>
            <%= @journal.content4 %>
            </p>

            <p>
            <strong>2:</strong>
            <%= @journal.content5 %>
            </p>

            <p>
            <strong>3:</strong>
            <%= @journal.content6 %>
            </p>
            <% if @journal.user == current_user %>
            <%= link_to 'Edit', edit_journal_path(@journal), class: "btn btn-warning" %> 
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
      <img class="card-img-top" src="<%= image_path("card#{rand(1..10)}.jpg") %>" alt="Card image cap" width="100%">
        <div class="card-block text-xs-center">
          <div class="card-title">
            <h3>Daily affirmations</h3>
          </div>
          <div class="card-text text-xs-left">
            <br/>
            <p>
            <strong>Affirmations:</strong>
            <%= @journal.content7 %>
            </p>
            <% if @journal.user == current_user %>
            <%= link_to 'Edit', edit_journal_path(@journal), class: "btn btn-warning" %> 
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
  <%= link_to 'Back', journals_path, class: "btn btn-danger" %> 
</div>